* {
    box-sizing: border-box;
}

:root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --gray: #333;
    font-size: 62.5%;
}

body {
    background: #ededed;
    color: var(--gray);
    margin: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
}

header p {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 2rem;
}

.p {
    font-size: 1.6rem;
}

.task-list-wrapper {
    flex: 1;
    margin: 0 20px 20xp;
}

.list-title {
    color: var(--secondary);
    font-size: 2.6 rem;
}

.task-list {
    list-style: none;
    padding: 15px;
    height: calc(100% - 50%);
    background: rgb(196, 196, 196);
    border-radius: 12px;
    border: 2px solid var(--gray);
}

.task-item {
    color: var(--gray);
    padding: 15px 15px;
    border: 2px solid var(--grey);
    background: var(--tertiary);
    border-radius: 12px;
    margin-bottom: 20px;
}

.task-name {
    margin: 0;
    font-size: 1.8rem;
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 2.2rem;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--gray);
}